.Facebook-Developer-Circle-Madrid {
  background-image: url(/img/communities/Facebook-Developer-Circle-Madrid.svg)
}

.FemDevs {
  background-image: url(/img/communities/FemDevs.png)
}

.CanariasJS {
  background-image: url(/img/communities/CanariasJS.svg)
}

.NSCoders-Night-Madrid {
  background-image: url(/img/communities/NSCoders-Night-Madrid.png)
}

.MadridDotNet {
  background-image: url(/img/communities/MadridDotNet.png)
}

.Madrid-Elixir {
  background-image: url(/img/communities/Madrid----Elixir.png)
}

.Madrid-SUG {
  background-image: url(/img/communities/Madrid-SUG.jpeg)
}

.Madrid-Android-Developer-Group {
  background-image: url(/img/communities/Madrid-Android-Developer-Group.png)
}

.Ionic-Madrid {
  background-image: url(/img/communities/Ionic-Madrid.svg)
}

.Python-Madrid {
  background-image: url(/img/communities/Python-Madrid.svg)
}

.Adalab {
  background-image: url(/img/communities/Adalab.png)
}

.Girls-in-Tech-Spain {
  background-image: url(/img/communities/Girls-in-Tech-Spain.png)
}

.NodeJSMadrid {
  background-image: url(/img/communities/NodeJSMadrid.png)
}

.GDG-s {
  background-image: url(/img/communities/GDG-s.png)
}

.CrossDevelopment-Madrid {
  background-image: url(/img/communities/CrossDevelopment-Madrid.jpeg)
}

.GeoDevelopers {
  background-image: url(/img/communities/GeoDevelopers.jpeg)
}

.SUG-CAT {
  background-image: url(/img/communities/SUG-CAT.png)
}

.CATzure {
  background-image: url(/img/communities/CATzure.jpg)
}

.Frontend-Developers-Madrid {
  background-image: url(/img/communities/Frontend-Developers-Madrid.jpeg)
}

.HTML5Spain {
  background-image: url(/img/communities/HTML5Spain.png)
}

.XantarDev {
  background-image: url(/img/communities/XantarDev.jpeg)
}

.PASS-Spain {
  background-image: url(/img/communities/PASS-Spain.png)
}

.Betabeers-Madrid {
  background-image: url(/img/communities/Betabeers-Madrid.png)
}

.Tech-Ladies {
  background-image: url(/img/communities/Tech-Ladies.png)
}

.Madriagil {
  background-image: url(/img/communities/Madriagil.jpeg)
}

.PhpMadrid {
  background-image: url(/img/communities/PhpMadrid.png)
}

.MadridScala {
  background-image: url(/img/communities/MadridScala.jpeg)
}

.madrid-rb {
  background-image: url(/img/communities/madrid-rb.png)
}

.dotnetMalaga {
  background-image: url(/img/communities/dotnetMalaga.jpg)
}

.DotNetters {
  background-image: url(/img/communities/DotNetters.png)
}

.Techdencias {
  background-image: url(/img/communities/Techdencias.png)
}

.MadridJUG {
  background-image: url(/img/communities/MadridJUG.png)
}

.Madrid-GUG {
  background-image: url(/img/communities/Madrid-GUG.png)
}

.STCAsturias {
  background-image: url(/img/communities/STCAsturias.png)
}

.MadridJS {
  background-image: url(/img/communities/MadridJS.png)
}

.HackathonLovers {
  background-image: url(/img/communities/HackathonLovers.png)
}

.javaHispano {
  background-image: url(/img/communities/javaHispano.png)
}

.Rioja-dotnet- {
  background-image: url(/img/communities/Rioja-dotnet-.jpg)
}

.Madrid-Spring-User-Group {
  background-image: url(/img/communities/Madrid-Spring-User-Group.png)
}

.HackMadrid-27 {
  background-image: url(/img/communities/HackMadrid--27.png)
}

.M-lagaJUG {
  background-image: url(/img/communities/M-lagaJUG.png)
}

.GeoDevelopers {
  background-image: url(/img/communities/GeoDevelopers.jpeg)
}

.MadRust {
  background-image: url(/img/communities/MadRust.png)
}

.M-laga-Scala-Developers {
  background-image: url(/img/communities/M-laga-Scala-Developers.png)
}

.AsturiasHacking {
  background-image: url(/img/communities/AsturiasHacking.jpeg)
}

.Big-Girls-Theory {
  background-image: url(/img/communities/Big-Girls-Theory.jpeg)
}

.Docker-Madrid {
  background-image: url(/img/communities/Docker-Madrid.png)
}