$hero-bg-color: #fff;
$hero-color: $white;
.hero {
  position: relative;
  clear: both;
  overflow: hidden;
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $hero-bg-color;
  margin-bottom: $hr-margin;
  @media #{$large-up} {
    background-image: url("/img/bg-large.jpg");
  }
}

.hero-text {
  width: 100%;
  float: left;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
  color: $hero-color;
  text-shadow: 1px 1px 0 #000;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Montserrat", "Roboto Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
  border-bottom: 1px solid $white; // hack for firefox
  padding: 2rem 0;
  @media #{$medium-up} {
    font-size: 24px;
    height: 73vw;
    max-height: 680px;
  }
}

.hero-highlight {
  color: #fb8c00;
}

.hero.small {
  .hero-text {
    min-height: 250px;
    max-height: 420px;
  }
}

.hero-title {
  color: $hero-color;
  margin-top: 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.06em;
  @media #{$medium-up} {
    margin-bottom: 0.2em;
    font-size: 60px;
  }
  @media #{$large-up} {
    //margin-bottom: 0.2em;
    font-size: 110px;
  }
}
.hero-body {
  @media #{$large-up} {
    font-size: 50px;
  }
}
.hero-text {
  h1,
  h2,
  h3 {
    color: $hero-color;
    font-family: "Montserrat", "Roboto Light", sans-serif;
  }
}
