$home-color: $black;
$home-size: 500px;
$svg-separator-size: 2rem;

.svg-hr {
  width: 100%;
  height: $svg-separator-size;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-hr {
  width: 100%;
  margin: $hr-margin 0;
}

.home-highlight {
  & h1 {
    color: $blue-dark;
  }

  & .button.primary {
    background: $green;
    border-color: darken($green, 10%);
    &:focus,
    &:hover,
    &:active {
      background-color: darken($green, 5%);
    }
  }
}

.stats {
  padding: $section-vertical-margin 0;
  background: $blue-dark;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.1rem;
  font-size: 80%;
  @media #{$medium-up} {
    font-size: 100%;
  }
}

.number-and-text {
  padding-right: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  .text {
    text-transform: lowercase;
    text-shadow: 1px 1px 1px #000;
  }
  @media #{$medium-up} {
    padding-right: 3rem;
  }
}

.communities {
  padding-top: 1rem;
  text-align: center;
}

.community {
  display: inline-block !important;
  overflow: hidden;
  text-indent: -100000px;
  white-space: nowrap;
  opacity: .6;
  margin: 0 1rem .5rem 0;
  width: 120px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: opacity .3s ease-out;
  filter: grayscale(100%);
  &:hover, &:focus, &:active {
    filter: none;
    opacity: 1;
}
}

.number {
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 33px;
  margin-bottom: 0;
  line-height: 1;
  @media #{$medium-up} {
    font-size: 44px;
  }
}

.c4p {
  display: flex;
  align-items: center;
  .agenda-img {
    display: none;
    @media #{$medium-up} {
      margin-left: -60%;
      margin-right: 2.5rem;
      display: block;
    }
    @media #{$xxlarge-up} {
      margin-left: -80%;
    }
  }
}

.techshessions {
  display: flex;
  align-items: center;
  .empower {
    display: none;
    @media #{$medium-up} {
      margin-right: -20%;
      margin-left: 2.5rem;
      max-height: 400px;
      display: block;
    }
    @media #{$xxlarge-up} {
      margin-right: 0;
    }
  }
}

.communities-hr {
  max-height: 50px;
}