.sponsors-img {
  display: block;
  width: 270px;
  height: auto;
  margin: 0 2rem 2rem;
}

.sponsors {
  background-image: url("/img/venue.jpg");
  background-position: top;
}

.category-sponsors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem 3rem;
}

.sponsor-category {
  margin-top: 2rem;
}

.sponsor-category-name {
  @extend h3;
  margin: auto 0;
  margin-bottom: 1rem;
  display: block;
}

.sponsor {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsor-offer {
  padding-top: 1rem;
  border-top: 1px solid $gray-light;
}

.sponsor-offer-link {
  vertical-align: middle;
  max-width: 150px;
  display: inline-block;
}

.offer-short {
  margin-top: 1rem;
  font-size: 80%;
}

.offer-role {
  display: block;
}

.offer-desc {
  margin-top: 2rem;
}

.sponsor-img {
  max-height: 100px;
}

@media #{$medium-up} {
  .sponsors-text {
    flex-grow: 1;
    flex-basis: 0;
  }
  .category-sponsors {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5rem;
    &.gold {
      grid-template-columns: repeat(5, 1fr);
    }
    &.platinum {
      grid-template-columns: repeat(4, 1fr);
    }
    &.diamond {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .sponsor-offer-link {
    max-width: 200px;
  }
  .offer-short {
    margin-top: 0;
    float: right;
    text-align: right;
    font-size: 100%;
  }
}
@media #{$large-up} {
  .sponsor-category {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
  }
  .sponsor-category-name {
    margin-bottom: auto;
  }
}