{{ define "main" }}
<section class="content">
  <h1 class="lead">Call for volunteers</h1>
  <p>{{ i18n "CallForVolunteersRequirementsDesc" }}:</p>
  <ul class="square">
    <li>{{ i18n "CallForVolunteersHelpInRooms" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersConditionCommonAreas" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersPrepareSwags" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersSupportAttendees" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersHelpSpeakers" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersWhateverComes" | safeHTML }}</li>
  </ul>
  <p>{{ i18n "CallForVolunteersRightsDesc" }}:</p>
  <ul class="square">
    <li>{{ i18n "CallForVolunteersNetworking" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersAcquireExperience" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersExclusiveSwag" | safeHTML }}</li>
    <li>{{ i18n "CallForVolunteersAttendTalks" | safeHTML }}</li>
  </ul>
  <br/>
  <a href="https://docs.google.com/forms/d/1A54oCzoTV2VZTSaObdsuHXNW1xnRCiF1o4dgDehIgvE" target="_blank" class="button primary" title="{{ i18n "CallForVolunteersSignUp" }}">{{ i18n "CallForVolunteersSignUp" }}</a>
</section>

{{ end }}