{{ define "main" }}

  <section class="content">
    <h1 class="lead">{{ i18n "Offers" }}</h1>
    <p>{{ i18n "OffersDesc" }}</p>
  </section>
  <section class="section-content">
    <div class="content offers">
      {{ range $categories := $.Site.Data.sponsors }}
        {{ range $sponsor := $categories.items }}
          {{ if $sponsor.offerJob }}
            {{ $normalizedSponsorName := $sponsor.name | replaceRE "-" "" | replaceRE "\\s" "-" }}
            <article id="{{ $normalizedSponsorName }}" class="sponsor-offer">
              <div class="offer-summary">
                <a href="#{{ $normalizedSponsorName }}" class="sponsor-offer-link">
                  <img src="/img/sponsors/{{$sponsor.logo}}" alt="{{$sponsor.name}}" title="{{$sponsor.name}}" class="sponsor-img {{$normalizedSponsorName | lower}}-logo">
                </a>
                <div class="offer-short">
                  <b class="offer-role">{{ $sponsor.offerJob.role }}</b>
                  <span>{{ $sponsor.offerJob.location }}</span>
                </div>
              </div>
              <a class="collapsible-action" title="{{ i18n "ViewMore"}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="collapsible-logo" width="12" height="12" viewBox="0 0 12 12">
                  <path d="M1.41 2.29L6 6.87l4.59-4.58L12 3.7l-6 6-6-6z"/>
                </svg>
              </a>
              <div class="offer-desc">
                {{ partial (printf "%s%s%s" "offers/" (lower $normalizedSponsorName) ".html") }}
              </div>
            </article>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </section>

{{ end }}

{{ define "js" }}
<script defer src="/js/offers.js">
</script>
{{ end }}