{{ define "main" }}
<section class="hero small sponsors">
  <div class="hero-text">
    <div class="content">
      <h1 class="hero-title">{{ i18n "BecomeASponsor" | safeHTML }}</h1>
    </div>
  </div>
  <img class="svg-hr" src="/img/svg-hr.svg" />
</section>
<section class="content">
  <h1>{{i18n "OurSponsors"}}</h1>
  {{ range $category := $.Site.Data.sponsors }}
    <div class="sponsor-category">
      <h2 class="category-name">{{ $category.name }}</h2>
      <div class="category-sponsors {{ $category.name | replaceRE "\\s" "-" | lower }}">
        {{ range $category.items }}
        <a href="{{.href }}" alt="{{.name}}" title="{{.name}}" class="sponsor" target="_blank" rel="noopner noreferrer">
          <img src="/img/sponsors/{{.logo}}" class="{{.name | replaceRE "\\s" "-" | lower}}">
        </a>
        {{ end }}
      </div>
    </div>
  {{ end }}
  <hr/>
  <h1>{{i18n "OurSponsorsOffers"}}</h1>
  <p>{{i18n "OurSponsorsOffersDesc"}}</p>
  <p class="actions">
      <a
        class="button primary"
        href="{{"/offers" | relLangURL}}"
        >{{i18n "ViewOffers"}}</a
      >
    </p>
  <hr/>
  <h1>{{i18n "GetInvolved"}}</h1>
  <p class="highlight">{{ i18n "BecomeASponsorHighlight" }}</p>
  <p>
    {{ i18n "BecomeASponsorDesc" | safeHTML }}
  </p>
  <p class="actions">
    <a
      class="button primary"
      href="mailto:info@commit-conf.com"
      >{{i18n "GetInContact"}}</a
    >
  </p>
</section>
{{ end }}
