<p>
  <img src="/img/sponsors/offers/atsistemas.jpg" alt="atSistemas job roles list" />
</p>
<p>En atSistemas, somos más de 1.300 profesionales dedicados a la consultoría,
  servicios de Tecnologías de la Información y desarrollo de software. Nuestros
  más de 25 años de experiencia, nos han convertido en uno de los principales
  referentes del mercado. Combinamos nuestra fuerte especialización en 
  tecnologías de vanguardia con el conocimiento de los retos de negocio de 
  nuestros clientes.</p>

<p>Desde nuestras oficinas de <b>Madrid, A Coruña, Barcelona, Cádiz, Huelva,
  Mallorca, Milán, Santiago de Compostela, Sevilla y Zaragoza</b>, realizamos
  proyectos de arquitectura, desarrollo, integración de sistemas y servicios
  gestionados, adoptando y promoviendo las mejores prácticas del mercado.</p>

<p>Nuestra visión es construir, uniendo personas, innovación tecnológica y
  negocio, una compañía de futuro que impacte en la vida de miles de personas
  con sus soluciones innovadoras.</p>

<p><b>¡Y queremos hacerlo contigo!</b></p>

<p>Si eres una persona curiosa y con iniciativa.</p>
<p>Si te gusta trabajar en equipo.</p>
<p>Si tienes ganas de participar en nuestro proyecto de empresa.</p>

<p>¡Éste es tu sitio!</p>

<p>Estamos organizados en entornos de colaboración para la innovación que
  denominamos <b>Comunidades Tecnológicas</b>. Cada Comunidad tiene su
  pirámide de puestos y éstos a su vez están integrados en nuestro Plan de
  Carreras Profesionales. De este modo, todos nuestros profesionales tienen a
  su disposición procesos diseñados específicamente para sus funciones dentro
  de la compañía: modelo de competencias, evaluaciones, planes de formación y
  certificación, proyectos y eventos.</p>

<p>Actualmente, estamos ampliando equipo en las siguientes:</p>

<ul class="square">
  <li>Comunidad QA</li>
  <li>Comunidad Front</li>
  <li>Comunidad Mobile</li>
  <li>Comunidad Arquitectura de Soluciones</li>
  <li>Comunidad de Sistemas &amp; Cloud</li>
  <li>Comunidad DevOps</li>
  <li>Comunidad Java</li>
  <li>Comunidad Big Data &amp; BI</li>
  <li>Comunidad Microsoft</li>
  <li>Comunidad PHP</li>
</ul>

<p><b>¿Por qué deberías apostar por nosotros?</b></p>

<p>Si te sumas al equipo de atSistemas, podrás contar con beneficios como:</p>

<ul class="square">
  <li>
    Formación en últimas tecnologías, inglés y competencias/habilidades.<br>
    Consulta nuestro calendario aquí: <a href="https://www.atsistemas.com/es/unete/formacion" target="blank" rel="noopener noreferrer">https://www.atsistemas.com/es/unete/formacion</a>
  </li>
  <li>¿Quieres obtener una certificación oficial?, ¡también es posible!</li>
  <li>Opción de retribución flexible (tickets restaurante, cheques guardería, tarjeta transporte, seguro médico).</li>
  <li>Buen ambiente de trabajo y posibilidades de desarrollo profesional en una empresa en crecimiento, organizada por centros expertos con identidad propia.</li>
  <li>Club de ventajas AT: benefíciate de nuestros descuentos en productos y servicios.</li>
  <li>Embajador de nuestra marca, a través de nuestro Plan Amigo.</li>
  <li>Eventos, meetups, techdays, charlas... Además de otros beneficios y sorpresas que vamos realizando a lo largo del año.
    <br>
    <a href="https://www.atsistemas.com/es/unete/ventajas" target="blank" rel="noopener noreferrer">https://www.atsistemas.com/es/unete/ventajas</a>
  </li>
</ul>

<p>Si te interesa algún entorno tecnológico de los mencionados y estás interesado en trabajar desde alguna de nuestras sedes, puedes enviarnos un correo a: <a href="mailto:joinus@atsistemas.com">joinus@atsistemas.com</a></p>

<p>También puedes consultar nuestras ofertas de empleo en nuestra <a href="https://www.atsistemas.com/es/unete/ofertas" target="blank" rel="noopener noreferrer">página</a>.</p>