<p>Autentia lo formamos un grupo de personas a las que nos encanta la tecnología, siempre con ganas de aprender y superarnos constantemente.</p>
<p>
Trabajamos en proyectos de todo tipo, desde grandes desarrollos para importantes empresas multinacionales, hasta pequeñas aplicaciones de Startups, siempre utilizando buenas prácticas (integración continua, TDD, herramientas de análisis de código, metodologías ágiles, etc.) y el mejor ambiente de trabajo. Intentamos que cada desarrollo sea un reto interesante para nosotros.
</p>
<p>
  <img src="/img/sponsors/offers/autentia.jpg" alt="Autentia Office" />
</p>
<p><b>
  ¿Qué ofrecemos?
</b></p>
<ul class="square">
  <li>Formación continua: Podrás asistir o impartir charlas y cursos internos sobre diferentes tecnologías y metodologías de trabajo. También podrás aprender y compartir conocimiento en nuestro portal www.adictosaltrabajo.com.</li>
  <li>Los mejores compañeros: somos un equipo con muy buen rollo, y nos encanta la tecnología. Siempre tendrás al lado a alguien dispuesto a echarte una mano.</li>
  <li>Buenos equipos: hardware de última generación y todas las herramientas que sean necesarias para facilitar el trabajo diario.</li>
  <li>Flexibilidad horaria: adapta el horario a tu vida personal.</li>
  <li>Contrato indefinido y diversos beneficios sociales (Ticket Restaurant, seguro de salud…).</li>
  <li>Buenas prácticas para mejorar el bienestar laboral: eventos deportivos, fruta en la oficina, fisioterapeuta…</li>
</ul>
<p><b>
  ¿Qué buscamos?
</b></p>
<p>
  Compañeros con buen rollo y ganas de aprender, independientemente de su edad o experiencia. Personas a las que les guste la tecnología y el desarrollo de software. 
</p>
<p>
  Buscamos personas que quieran desarrollarse profesionalmente dentro de Autentia y no para un proyecto concreto.
</p>
<p>
  En cuanto a los conocimientos, nos gustaría que tuvieras experiencia en:
</p>
<ul class="square">
  <li>Tecnologías Java como la Suite de Spring.</li>
  <li>Bases de datos SQL y NoSQL.</li>
  <li>Patrones de diseño y de Arquitecturas Software.</li>
  <li>Desarrollo guiado por test (TDD).</li>
  <li>Integración continua y calidad de código.</li>
  <li>Automatización de construcción de software con herramientas DevOps.</li>
  <li>Análisis de rendimiento de aplicaciones.</li>
</ul>
<p>
  Aplica a este puesto escribiéndonos a <a href="mailto:empleo@autentia.com">empleo@autentia.com</a> o en <a href="https://www.autentia.com/empleo/oferta-empleo-java-developer/" target="blank" rel="noopener noreferrer">nuestra página</a>.
</p>
