<p><b>This is Us.</b></p>
<p>A team of more than one thousand people sharing an idea: doing our bit in helping our clients create a better future for themselves, providing them with the tools they need to get where they want to go.</p>
<p>In today's world, we know this happens because we are a fully online bank. We were born out of that idea and 20 years on, technology, simplicity and transparency continue to be the ingredients of the recipe that leaves the best taste in our mouths: being more than just a bank, someone useful in the lives of the millions of clients who have chosen us.</p>
<p>The way we do things also mirrors our eagerness to innovate. We are proud to be one of the very first banks to work with agile methodologies. It doesn't ring a bell yet? No worries, we will be delighted to tell you all about it. You will find it's one of those things you'll want to repeat over and over.</p>
<p>And although we are based in Spain, we like to cross borders. We are lucky to work with international teams every day across 44 countries, composed of women and men as equal as they are diverse. Because here you are completely free to be who you want to be, love whomever you choose, and even go for pineapple as your pizza topping.</p>
<p>Making things happen, helping others be successful, always being one step ahead-that's our DNA. If you look at yourself in the mirror and your reflection matches our way of being and working... we are looking forward to meeting you!</p>
<p><b>We are looking for</b></p>
<p>An energetic Engineer with a passion for world class SW development to provide best products &amp; applications to customers and positive can-do mind-set.</p>
<p>A team player working as a core member of a multidisciplinary and cross-functional team with end-to-end responsibility for selected applications and services part of Model Bank Retail platform. Close collaboration within and across the teams and with the consumer is of utmost importance for you.</p>
<p>You are responsible for the craftsmanship, quality and availability of the application/service of your team. You continuously strive to improve yourself and your colleagues in the SecDevOps way of working.</p>
<p>You have a broad and diverse set of competencies that allow you to develop, operate and maintain team application through highly automated and standardized quick feedback loops and application monitoring.</p>
<p><b>Proven track record and technical skills and capabilities</b></p>
<ul class="square">
  <li>Good coding Skills on all Middleware Layer: Java 8 or above working experience with recent functional programming style.</li>
  <li>Front-End or/and Core Back-End awareness (understand the global architecture).</li>
  <li>Analysis &amp; Testing capabilities.</li>
  <li>Excellent oral and written English skills.</li>
  <li>Ability to work on an international level.</li>
</ul>
<p><b>Desirable:</b></p>
<ul class="square">
  <li>Test frameworks:
    <ul class="square">
      <li>Junit</li>
      <li>Mockito</li>
      <li>WebdriverIO</li>
      <li>Selenium</li>
      <li>Appium</li>
      <li>Gatling / JMeter</li>
    </ul>
  </li>
  <li>Tools:
    <ul class="square">
      <li>SonarQube</li>
    </ul>
  </li>
  <li>SecDevOps mindset and experience</li>
  <li>API REST</li>
  <li>Kafka Streams</li>
  <li>JavaScript</li>
  <li>Scala</li>
  <li>Microservices architecture.</li>
</ul>

<p><b>What do we offer?</b></p>
<ul class="square">
  <li>
    <b>Flexible schedule</b>.<br/>
    What happens at ING matters a lot to us.<br>
    But we know the most important things are outside the office.
  </li>
  <li>
    <b>Food Allowance</b>.<br>
    So that eating is not something to worry about.
  </li>
  <li>
    <b>Life insurance and medical insurance</b>.<br>
    For you and your whole family (spouse, common-law partner and children).
  </li>
  <li>
    <b>Free company bus</b>.<br>
    We take you from Madrid´s dowtown to our office located in Las Rozas (and vice versa!).
  </li>
  <li><b>Banking benefits</b>.
    <ul class="square">
      <li>Special conditions on your loan or mortgage after 6 months in the bank.</li>
      <li>And benefit from our pension plan once you reach 2 years with us.</li>
    </ul>
  </li>
  <li><b>More health and more sport</b>.
    <ul class="square">
      <li>Paddle court (and school) at your disposal</li>
      <li>Runners club with your own coach</li>
      <li>Clinics with professional and top level athletes</li>
      <li>Physiotherapist service in the office</li>
    </ul>
  </li>
</ul>
<p>Apply for this <a href="https://www.ing.es/trabaje-en-ingdirect/ofertas-empleo.html" rel="noopener noreferrer" target="_blank">offer</a>.</p>
