<p>
  We're looking for Java Senior Developers to participate in challenging projects, learn in a friendly, collaborative environment, and help us take innovation to the next level.
</p>
<p>
Intelygenz Software has been delivering cutting-edge software solutions to industry leaders since 2002. We are part of a company called Intelygenz who has been building a complete catalog of products and services that help businesses to achieve the digital age challenges. Software is the language of the Digital Age, our products and services translate business ideas into applied solutions. 
</p>
<p>
We are offering:
</p>
<ul class="square">
  <li>The possibility to grow as a professional within our company.</li>
  <li>Ongoing training - stay up to date with the latest technologies and methodologies.</li>
  <li>Innovative environment - we have a start-up soul: passionate about new technologies, always seeking to improve, and getting adapted to changes and needs constantly.</li>
  <li>35.000-40.000€</li>
</ul>

<p>To apply for this position, please send your resume to <a href="mailto:talento.humano@intelygenz.com" target="_blank" rel="noopener noreferrer">talento.humano@intelygenz.com</a></p>

<p>More job opportunities on <a href="https://intelygenz.com/join-us/" target="_blank" rel="noopener noreferrer">https://intelygenz.com/join-us/</a></p>