<p>
Liferay, Inc. is a leading provider of enterprise open source portal and collaboration software products, servicing Fortune 500 companies worldwide.
</p>
<p>
Working in Liferay is an opportunity to participate in an ethical, motivating, challenging and constantly expanding project within an international environment, that offers the possibility developing a personal career according to your capabilities and preferences as part of the Liferay team.
</p>
<p>
As a Consultant at Liferay, you will work very close to customers, primary point of contact for all technical questions and inquiries, designing and developing solutions being involved in fullcycles projects. Working closely with Account Executives, Account Managers and other members of the Liferay team, you will act as a trusted advisor for the customer on the Liferay solution, competitors, and alternative solutions.
</p>

<p><b>Responsibilities</b></p>
<ul class="square">
  <li>Participate in full lifecycle Liferay projects with some of the principal national customers.</li>
  <li>Responsible for providing technical leadership to medium size/complexity/order-value enterprise scale projects/solutions.</li>
  <li>Provide technical leadership to project team(s) to perform design to deployment related activities, provide guidance, perform reviews, prevent and resolve technical issues.</li>
  <li>Designs and leads implementation of scalable, secure JAVA-based applications.</li>
  <li>Providing input into regarding new technologies and techniques, as well as participate in the development of proof of concepts and best practices.</li>
  <li>Understanding and complying with development standards and SDLC to ensure consistency across the business.</li>
  <li>Training for customers.</li>
</ul>

<p><b>Required qualification and experience</b></p>
<ul class="square">
  <li>Bachelor’s degree or equivalent work experience required.</li>
  <li>5 years with Java EE.</li>
  <li>Experience with Java frameworks such as Spring and Hibernate.</li>
  <li>Experience with portal development for Liferay.</li>
  <li>Experience working within an agile software development lifecycle with testing, continuous integration and deployment (Git, Maven, Jira, Gradle, Jenkins, etc.)</li>
  <li>Experience with multiple databases (Oracle, SQL Server, MySQL, etc.) and application servers (Tomcat, JBoss, WebLogic or WebSphere).</li>
  <li>Fully comfortable working in English and Spanish, both written and spoken.</li>
  <li>Experience with tuning JVMs and application servers is a plus.</li>
  <li>Experience with RESTful architecture and SOA architecture.</li>
  <li>Passionate about continuous improvement and problem-solving.</li>
</ul>

<p><b>As skills:</b></p>
<ul class="square">
  <li>Excellent prioritization, organization, and time management skills.</li>
  <li>Excellent communication skills, team dynamics.</li>
  <li>Customer orientation.</li>
  <li>Learning capability.</li>
</ul>

<p><b>We are offering</b></p>
<ul class="square">
  <li>Salary package according to qualification and experience.</li>
  <li>Opportunities to take responsibility and grow professionally.</li>
  <li>Ability to work in an international context.</li>
  <li>A positive and pleasant work environment.</li>
  <li>Working at a successful company with strong growth.</li>
  <li>Competitive salary + social benefits +  flexibility & conciliation</li>
</ul>

<p>Apply for this <a href="https://www.liferay.com/es/careers?p=job%2Fo0br9fwv" rel="noopener noreferrer" target="_blank">offer</a>.</p>