<p><b>
  About Magnolia:
</b></p>
<p>
  At Magnolia, we empower our clients to manage their virtual presence. Flexible. Scalable. Mobile. Magnolia CMS' mobile-inspired user interface and customizable app framework have revolutionized the world of content management. Join us to strengthen Magnolia's position as the most user-friendly enterprise CMS.
</p>
<p class="text-center">
  <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/VbY1b1ke08A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p><b>
  What we are looking for:
</b></p>
<p>
  We are looking for an experienced Java Engineer with a passion for solving problems as part of an agile team.
</p>
<p>
  If you strive to create value in innovative ways and instead of trying to "think outside of the box" you simply get rid of it - this is when you're the perfect match for us.
</p>
<p>
  Are we the right match for you? Please read on.
</p>
<p><b>
  What you will do:
</b></p>
<ul class="square">
  <li>Develop new features for Magnolia and assure they comply with our quality standards.</li>
  <li>Maintain the core content management functionality: from the user interface to rendered content including the template system, resources, and integration with front-end technologies.</li>
  <li>Take the technical lead of new initiatives and draft architecture and design concepts for larger changes.</li>
  <li>Facilitate collaboration with other engineers, product owner, and designers to solve interesting and challenging problems.</li>
  <li>Deal with and improve dependency management, source control, issue tracking tools, and testing frameworks we use.</li>
  <li>Help to spread new ideas and proven practices like TDD, Clean Code, Scrum, DevOps.</li>
</ul>
<p><b>
  Required qualifications:
</b></p>
<ul class="square">
  <li>BS in Computer Science or equivalent</li>
  <li>Smart, knowledgeable, curious and enthusiastic people</li>
  <li>Minimum of 5 years Java development experience, Enterprise Java development is a plus</li>
  <li>Advanced experience with web technologies</li>
  <li>Experience with dependency management, source version control, issue tracking tools, and testing frameworks (for example Maven, Git, Jira, JUnit/Selenium)</li>
  <li>Ability to work within an agile team</li>
  <li>Experience with Vaadin or GWT is a bonus</li>
  <li>Fluent English is required, additional languages are a plus</li>
</ul>
<p><b>
  How we work:
</b></p>
<p>
  We’re passionate about what we create; design and craft matter to us - whether it be in the graphics, the user experience or the code. Creating open source software that everyone can dig into keeps us honest & our code clean. We use state-of-the-art development tools and practices such as Maven, continuous integration with Jenkins, automated UI testing with Selenium & Jira for issues and project management.
</p>
<p><b>
  How Magnolia empowers your success:
</b></p>
<ul class="square">
  <li>A Great Product: Loved by clients and respected by analysts, Magnolia is one of the best CMS solutions on the market.</li>
  <li>Directly Contribute to Magnolia’s Success: We value each individuals’ input and create opportunities to realize them.</li>
  <li>Great variety in your areas of responsibility: You will be able to dive into any skill area within the company that allows you to grow according to your personal career goals.</li>
  <li>International Exposure: With offices in the USA, Spain, Switzerland, Czech Republic, Singapore, and Vietnam you will collaborate with colleagues from over 30 Nationalities.</li>
</ul>
<p>
  If this sounds like a role you see yourself in and believe you can contribute to Magnolia CMS become even more successful, <a href="https://magnolia-cms.jacando.com/es/en/job/dLgKA93A" rel="noopener noreferrer" target="_blank">apply now</a>!
</p>