<p><b>¿Sabes lo que buscamos?</b> Alguien sin miedo a la creatividad.</p>
<p><b>El reto es:</b> que esa persona tenga un enfoque creativo con un background tecnológico
teniendo en cuenta lo que es el negocio.</p>
<p class="text-center">
  <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/5F0WX6NC7MI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p>Y... ¿qué harás?, pues <b>entre otras cosas:</b></p>
<ul class="square">
  <li>Crear soluciones adaptadas a los desafíos de nuestros clientes realizando proyectos web en los que aprovechar todas las capacidades de Javascript, HTML y CSS</li>
  <li>Traducir los requerimientos y prototipos en componentes web usando Angular, React o Vue.</li>
  <li>Trabajar con aplicaciones Híbridas con Ionic</li>
  <li>Así como desarrollos con Node y Express</li>
  <li>Prestando siempre mucha atención a la calidad del código</li>
</ul>
<p>Y tranquilo, no se nos olvida algo que sabemos que es importante para ti...</p>
<p><b>¿Qué hay de la flexibilidad y beneficios?</b></p>
<p>Tenemos noticias en este aspecto que harán de tu experiencia en Minsait una etapa que no querrás acabar.</p>
<p>Podrás escoger los beneficios que más se ajusten a tus necesidades: Seguro médico, Tickets Restaurante, Tickets Guardería, Transporte, Plan de pensiones, Formación individual especifica.</p>
<p>Podrás trabajar en remoto si tu proyecto y cliente te lo permiten y en verano tendrás jornada intensiva.</p>
<p>¡Ah! También encontrarás formación específica diseñada para tu desarrollo profesional (sí, sí, el tuyo exclusivamente). Aparte de esto, ¿Conoces Udemy for Business? ¡Tienes más de 2500 cursos para ti según tus intereses! Todo esto solo por formar parte de Minsait.</p>

<p>En <a href="https://www.minsait.com/es" rel="noopener noreferrer" target="_blank">Minsait</a> somos líderes en consultoría de transformación digital y Tecnologías de la
Información. Formamos parte del ADN tecnológico de Indra, procurando soluciones digitales
en diferentes áreas de negocio (energía, aerolíneas, finanzas, industria y consumo, sanidad...).
Innovación y creatividad son la clave de nuestro éxito.</p>
<p><b>¿Te atreves? Si tienes ADN Minsait ¡seguro que sí! Inscríbete en <a href="https://www.minsait.com/es/talento/ofertas-empleo/desarrollo-frontend" rel="noopener noreferrer" target="_blank">nuestra web</a></b></p>