<p>
  <img src="/img/sponsors/offers/nielsen.jpg" alt="Nielsen branding">
</p>
<p>
  Piensa en los miles de millones de compras que los consumidores realizan cada día en el mundo. Imagina intentar dar sentido a los billones de datos que representan estas compras. ¿Suena emocionante? Esto es lo que hacemos, cada día.
</p>
<p>
  Somos una empresa multinacional que utiliza los datos de compra de los consumidores para ayudar a las marcas que tú conoces y utilizas a diario a entender el comportamiento de sus consumidores. En un mundo donde el panorama comercial está cambiando rápidamente esto no es fácil. Sin embargo, Nielsen continúa siendo el líder a la hora de proveer los datos y análisis que permiten a nuestros clientes responder a sus preguntas más importantes.
</p>
<p><b>
  Qué ofrecemos y qué buscamos
</b></p>
<p>
  En Nielsen ofrecemos:
</p>
<ul class="square">
  <li>Ambiente de trabajo ideal.</li>
  <li>Trabajar con las últimas tecnologías: Angular 7, Java, Spring Boot, Node.js, Snowflake (Columnar Database), Kubernetes, Azure, etc.</li>
  <li>Contrato indefinido.</li>
  <li>Nosotros somos el cliente final.</li>
  <li>Formación en inglés.</li>
  <li>Paquete de beneficios sociales (cheques de comida, posibilidad de teletrabajo, horario flexible, seguro de vida y accidentes, seguro médico privado).</li>
</ul>
<p>
  En Nielsen buscamos personas con:
</p>
<ul class="square">
  <li>3 a 5 años de experiencia en desarrollo de software.</li>
  <li>Conocimiento de las estructuras de datos, algoritmos y diseño para el rendimiento, la escalabilidad y la disponibilidad.</li>
  <li>Conocimiento y experiencia de trabajo con Java y Angular u otros marcos de Javascript.</li>
  <li>Conocimiento y experiencia en SQL u otra base de datos relacional.</li>
  <li>Buena experiencia en el diseño y construcción de sistemas distribuidos multiproceso.</li>
  <li>Experiencia en prácticas de desarrollo de software agile y DevOp.</li>
</ul>
<p>Inscríbete en <a href="mailto:daniel.franco.intern@nielsen.com">daniel.franco.intern@nielsen.com</a>.</p>