<p><b>
  Sobre nosotros:
</b></p>
<p>
  Somos una compañía de <b>telecomunicaciones, digital, multinacional, multiservicio y multimarca</b>, centrada en sus <b>clientes</b> e impulsada por dos motores: <b>el Software y los Datos</b>. Tenemos 264 millones de clientes en el mundo y estamos presentes en 27 países. En España, contamos con 20,3 millones de clientes (31/12/18), tanto particulares como empresas.
</p>
<p>
  Impulsamos proyectos innovadores, nuevos productos y negocios, como Big Data, Internet of Things, 5G, Ciberseguridad, virtualización, etc.
</p>
<p><b>
  Sobre el trabajo: 
</b></p>
<p>
  El Ingeniero de Soporte Cloud tiene como responsabilidad el correcto funcionamiento de la cloud de Orange. 
  Debe velar porque los servicios están disponibles un 99,99% y que su rendimiento sea el óptimo tanto a nivel de Computo, Almacenamiento, comunicaciones, etc. En este sentido se encargará de realizar todas las tareas de mantenimiento y medición de la infraestructura Cloud para mantenerla a punto, así como atender posibles incidentes que ocurran en el servicio, buscando el restablecimiento del mismo tan pronto sea posible. 
</p><p>
  Además, debe construir soluciones de capacidad y participar en procesos de capacidad de la infraestructura. 
  Deberá llevar un control de las acciones a realizar para que los incidentes no vuelvan a generarse (gestión de problemas) y gestión transversal con otros grupos para buscar soluciones definitivas de los incidentes. 
</p><p>
  Es una posición que realizará soporte en modo 24x7 a turnos.
</p>
<p><b>
  Perfil: 
</b></p>
<p>
  Profesional con al menos 5-10 años de experiencia en el sector de las Tecnologías de la Información y con experiencia demostrada de al menos 3 años como ingeniero de Soporte Cloud AWS. Se valorarán certificaciones en AWS.
</p>
<p>
  <b>Conocimientos requeridos:</b>
</p>
<ul class="square">
  <li>Entendimiento profundo de la plataforma Cloud AWS</li>
  <li>Entendimiento profundo de las implicaciones de Seguridad en Cloud.</li>
  <li>Lenguajes para Cloud: Python, Ansible, Perl, Chef, Puppet.</li>
  <li>Herramientas Cloud: Terraform, Rancher, Kubernetes, Openshift,  Cloud Foundry.</li>
  <li>Herramientas DevOps (CI/CD): Jenkins, GitLab, Sonar, Nexus, Jira, Confluence, etc.</li>
  <li>SSOO: Microsoft, Linux Redhat.</li>
  <li>Redes: switching/routing, DNS, LB, etc.</li>
  <li>Middleware: Apache, Weblogic, Tomcat.</li>
  <li>BBDD Relacionales: Oracle, Postgres, María DB, etc.</li>
  <li>Herramientas de Monitorización: Prometheus, Sonar, etc.</li>
  <li>Y adicionalmente: conocimiento en metodologías Agile, DevOps.</li>
</ul>
<p>
  Envíanos tu CV a <a href="mailto:talento.es@orange.com">talento.es@orange.com</a> o inscríbete en <a href="https://lnkd.in/dncuR7Z" target="blank" rel="noopener noreferrer">la oferta</a>.
</p>
