<p><b>
  Mobile Developer
</b></p>
<p>
  Como Mobile Developer te integrarás en el equipo de diseño y desarrollo que lidera la creación de soluciones digitales para nuestros clientes más importantes en tecnología, banca, telecomunicaciones, etc. 
</p>
<p>
  Si eres dinámico, odias la rutina y te gusta participar en proyectos únicos, muy diversos y motivadores, tienes un hueco en Sngular dentro de nuestro equipo de desarrollo de aplicaciones móviles nativas ;)
</p>

<p><b>
  ¿Qué necesitaríamos de ti?
</b></p>
<p>
  Que aportes un conocimiento profundo acerca de lenguajes nativos para dispositivos móviles (IOS/ Android), de tal manera que puedas escribir un código ordenado, legible, escalable y reutilizable.
</p>
<p>
  Para ello sería interesante que tengas conocimientos acerca de arquitecturas, utilización de los sensores del dispositivo, llamadas a APIs, diseño de interfaces,  utilización correcta de librerías y publicación de apps en los stores.
</p>

<p><b>
  ¿Cómo nos gustaría que fueras?
</b></p>
<p>
  Como mobile developer, deberás estar en contacto con diferentes áreas, como Diseño, Back o QA, así que, que seas una persona comunicativa y que trabaja en equipo, es importante.
</p>
<p>
  Además, como los smartphones evolucionan cada vez a mayor velocidad, debes ser una persona con inquietud por aprender e investigar, dispuesto a estar siempre a la última en cuanto a nuevas tecnologías se refiere.
</p>

<p><b>
  ¿Qué ofrecemos?
</b></p>
<p>
  Además de trabajar con los mejores profesionales del sector, deberías unirte a Sngular porque te ofrecemos:
</p>
<ul class="square">
  <li>Desarrollo en una cultura flexible y orientada al equipo</li>
  <li>Acceso a formación continua (presupuesto individual para formación, obtención de certificaciones, asistencia a eventos, acceso ilimitado a Udemy, clases de inglés)</li>
  <li>Asistencia ilimitada a eventos y meetups todas las tardes en nuestro Hub</li>
  <li>Plan de carrera y seguimiento 1 to 1</li>
  <li>Flexibilidad horaria y posibilidad de teletrabajo (según proyecto)</li>
  <li>Jornada intensiva en julio y agosto</li>
  <li>Salario competitivo, adaptado a las capacidades y experiencias de las personas</li>
  <li>Retribución flexible</li>
  <li>And... last but not least: ¡porque somos muy sngulares! Tenemos tutti fruties todos los viernes (ya te diremos en qué consisten), fiestas, espacios donde podrás expresarte, proponer cambios y ser partícipe de ellos (lo que nos gusta llamar #challengeyourcompany). Y también: competiciones de baloncesto, padel, escalada, juegos de mesa, clases de baile, team buildings, etc. Y no sólo lo decimos desde Talent, sino que puedes preguntar a nuestros compañeros o hacerte una idea viendo <a href="https://bit.ly/2lOhvbJ" rel="noopener noreferrer" target="_blank">https://bit.ly/2lOhvbJ</a></li>
</ul>

<p>Inscríbete en <a href="https://www.linkedin.com/jobs/view/1608203504/?eBP=JOB_SEARCH_ORGANIC&recommendedFlavor=JOB_SEEKER_QUALIFIED&refId=cdce1ec9-0b98-4a0e-8a5b-f3075d110cd9&trk=d_flagship3_search_srp_jobs" rel="noopener noreferrer" target="_blank">en la oferta</a>.</p>