<p>
  Desde Softtek, buscamos perfiles técnicos de automatización de pruebas QA para trabajar en un interesante proyecto en nuestras oficinas de Madrid, de mano de uno de nuestros principales clientes del sector retail.
</p>

<p><b>Funciones:</b></p>
<ul class="square">
  <li>Definir estrategia de pruebas para un nuevo producto</li>
  <li>Identificación de casos de prueba a diseñar y ejecutar</li>
  <li>Automatización de pruebas</li>
  <li>Seguimiento de defectos y de la calidad del producto</li>
</ul>

<p><b>Requisitos:</b></p>
<ul class="square">
  <li>Al menos 3 años de experiencia en ingeniería de pruebas automática</li>
  <li>Experiencia en automatización de pruebas con alguna de las siguientes herramientas: Selenium, Selenium WebDriver, Appium, RFT o QTP</li>
  <li>Experiencia en testing de software</li>
  <li>Buen conocimiento del ciclo de vida del desarrollo</li>
  <li>Conocimientos de JavaScript o Java</li>
  <li>Conocimiento de metodologías agile</li>
</ul>


<p><b>Valorable:</b></p>
<ul class="square">
  <li>Conocimientos en algunas de las siguientes herramientas o librerías: WebdriverJS, NodeJS, Mocha, Chai, Request-Promise, Protractor, Nightwatch, Cucumber.</li>
  <li>Experiencia en pruebas de rendimiento y en alguna de las siguientes herramientas: Jmeter, Gatling, Taurus, Blaze Meter.</li>
  <li>Familiarizado con conceptos DevOps (Docker, Jenkins, GitHub, Azure) </li>
  <li>Análisis estático de código: SonarQube, análisis de cobertura, etc.</li>
</ul>

<p><b>¿Qué te podemos aportar?</b></p>
<ul class="square">
  <li>Posibilidad de poder trabajar en un ambiente joven y dinámico.</li>
  <li>Estabilidad laboral.</li>
  <li>Trabajar en empresas líderes en el mercado.</li>
  <li>Participación en proyectos innovadores.</li>
  <li>Jornada de verano.</li>
  <li>Amplio paquete de retribución flexible.</li>
  <li>Seguro Médico privado, gratuito para el trabajador.</li>
  <li>Buen entorno de trabajo.</li>
  <li>Realización de actividades y quedadas grupales.</li>
  <li>Descuentos con distintas empresas de servicios.</li>
  <li>Formación continua y clases de idiomas.</li>
</ul>

<p>
  Tú nos importas, y por eso, en Softtek estamos comprometidos con el desarrollo profesional, los derechos humanos, los hábitos de vida saludables, la integración, el equilibrio entre el trabajo, la vida personal y la calidad de vida.
</p>
<p>
  Forma parte de un ambiente único e inigualable. ¡Vive el Softtek Life! 
</p>
<p class="text-center">
  <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/6H35Z4Aqw9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p>
  ¿Quieres conocer más sobre nosotros? ¡Averigua qué opinan nuestros empleados en este <a href="https://www.youtube.com/watch?v=LhcinTcryi4" target="blank" rel="noopener noreferrer">link</a>! 
</p>
<p>
  Inscríbete enviando tu CV a <a href="mailto:talentattractionemea@softtek.com">talentattractionemea@softtek.com</a>.
</p>