<p>
  En Sopra Steria trabajamos para hacer posible la transformación digital de nuestros clientes y para conseguirlo necesitamos seguir creciendo y sumando gracias a personas como tú.
</p>
<p>
  Con presencia en más de 20 países y con más de 42.000 colaboradores, nuestra misión es unir talento y proyectos, tratando de ayudarte a que encuentres un lugar en el que poder desarrollar todo tu potencial.
</p>
<p>¿Conoces nuestra <b>comunidad digital</b>?</p>
<p>Somos ya más de 500 profesionales, especializados en: <b>Backend, Frontend, QA, Arquitectura, UX/UI</b> y mucho más.</p>
<p>Trabajamos a nivel nacional en Madrid, Barcelona, Valencia, Alicante, Sevilla, Bilbao, Vitoria y Santander.</p>
<p>Tecnológicamente tratamos de hacer un desarrollo de software limpio y eficaz, basándonos en paradigmas de programación con buenas prácticas y los mejores patrones de diseño para cada desarrollo.</p>
<p>Porque sabemos lo que necesitas:</p>
<ul class="square">
<li>Participa en Proyectos retadores e innovadores. ¿Te animas a aprender algo nuevo?</li>
<li>Facilidades para ti, para tu tiempo. ¡No todo va a ser trabajo!</li>
<li>Disfruta de nuestros Beneficios y accede al Plan de retribución flexible</li>
<li>Freekys + Smart Sessions ¿Tienes algo que contarnos?</li>
<li>Para que te sientas parte del equipo: gymforless, pádel, running... y un fisio por si acaso!</li>
</ul>
<p>
  ¿Quieres dejar tu huella? &rarr; <a href="mailto:bedigital@soprasteria.com">bedigital@soprasteria.com</a>
</p>
<p>
  ¡Te vemos en nuestro stand!
</p>