<p>
  The Cocktail es una consultora digital cuya misión es orquestar y acelerar el crecimiento de nuestros clientes. Lo conseguimos porque hay una cosa que sabemos hacer muy bien: movilizar organizaciones para impulsar la relación entre las marcas y clientes mediante el diseño de productos y servicios, los datos y la tecnología digital. 
</p>
<p>
  Somos un equipo multidisciplinar que trabaja desde el entendimiento de los patrones de uso y consumo de los clientes, hasta la conceptualización y puesta en producción de las soluciones diseñadas. 
</p>
<p>
  Buscamos gente sin miedo a la velocidad y orientado al aprendizaje constante. Concretamente, una persona capaz de movilizar equipos para alcanzar la excelencia en el producto y dispuesto a demostrar junto a The Cocktail que se pueden solucionar retos de negocio de la mano de la tecnología. 
</p>
<p>
  Entre otras cosas, esto es lo que harás: 
</p>
<ul class="square">
  <li>Crear productos utilizando diversos lenguajes: <b>Ruby on Rails, Node, PHP, Groovy, Go, Elixir, Kotlin, Java, Javascript...</b></li>
  <li>Trabajar con metodología <b>DevOps y 100% en la nube</b>.</li>
  <li>Participar en proyectos retadores de <b>múltiples ámbitos</b> (Retail, Travel, banca..).</li>
  <li>Trabajar junto a personas orientadas a la <b>excelencia técnica</b>.</li>
  <li>Colaborar en hacer realidad una solución digital de la mano de un <b>equipo multidisciplinar</b>.</li>
  <li>Entender la visión global del producto digital, desde la estrategia de negocio subyacente hasta el detalle tecnológico de la solución.</li>
  <li>Desarrollar ownership para anticipar riesgos y ayudarnos a seguir mejorando.</li>
</ul>
<p>
  Inscríbete a la <a href="https://the-cocktail.com/oferta-de-trabajo/177" target="blank" rel="noopener noreferrer">oferta</a>.
</p>
