<p><b>
  ¡Sobre nosotros!
</b></p>
<p>
  Somos un grupo tecnológico digital, presente en 11 países de Europa y América, con una filosofía basada en la innovación y la vanguardia tecnológica. En Vector ITC Group desarrollamos tecnología por y para las personas, siendo <b>la innovación</b> el motor de nuestro crecimiento <b>y las personas</b> nuestra fuente de inspiración. Tecnología inteligente para transmitir confianza, seguridad y facilitar los proyectos vitales. Creemos en la innovación como el motor de transformación de todas las organizaciones, mejorando su eficiencia, competitividad y su capacidad para desarrollar oportunidades de negocio. Por eso, uno de nuestros principales objetivos es <b>seguir desarrollando e impulsando tanto nuestra innovación como la de nuestros clientes</b>.
</p>
<p class="text-center">
  <iframe class="youtube" src="https://www.youtube-nocookie.com/embed/FUkwfXPBhPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p><b>¡Encuentra tu lugar!</b></p>
<p>
  Si eres un apasionad@ de la tecnología, el software y el mundo digital este es tu sitio. ¡Nos gustaría conocerte! Buscamos <b>Desarrolladores Java, Front, Appian, Mobile y .NET</b>.
</p>
<p><b>
  ¿Por qué Vector?
</b></p>
<p>
  Si quieres cambiar el mundo a través de la tecnología te interesa lo que tenemos que contarte.
</p>
<ul class="square">
  <li><b>Un entorno ágil:</b> te ofrecemos un ecosistema laboral flexible y dinámico.</li>
  <li><b>Tu equipo:</b> formarás parte de equipos multidisciplinares con perfiles de diferentes áreas (desarrollo, UX, consultoría, etc.) que trabajan bajo los principios del manifiesto Agile.</li>
  <li><b>Grandes proyectos:</b> podrás trabajar en grandes proyectos de transformación digital para compañías líderes de diferentes sectores.</li>
  <li><b>Aprendizaje continuo.</b> No hay límites ni excusas, contamos con un amplio abanico de contenidos, recursos y canales para favorecer tu actualización y evolución profesional.</li>
  <li><b>Tú desarrollo será el nuestro:</b> contamos con un marco de carreras compartido y abierto para que tomes las riendas de tu evolución profesional.</li>
  <li><b>No queremos que renuncies a tus pasiones:</b> favorecemos iniciativas sociales, deportivas, culturales, medioambientales, intelectuales y lúdicas.</li>
  <li><b>Una propuesta atractiva:</b> ofrecemos un plan de compensación flexible, seguro médico privado y ampliaciones de los beneficios sociales.</li>
</ul>
<p>
  ¡Únete a nosotros y sé parte activa de nuestros proyectos! Compártenos tu CV al correo: <a href="mailto:rrhh-seleccion@vectoritcgroup.com">rrhh-seleccion@vectoritcgroup.com</a>
</p> 

 
