<img
  src="/img/checkpoint.jpg"
  alt="{{i18n "TheAgenda"}}"
  class="img-hr"
/>
<section class="content c4p">
  <img
    class="agenda-img"
    src="/img/agenda.jpg"
    alt="{{i18n "TheAgenda"}}"
  />
  <div>
    <h2>{{ i18n "TheAgenda" }}</h2>
    <p>{{ i18n "TheAgendaDesc" }}</p>
    <p>{{ i18n "ThanksForTheProposals" }}</p>
    <a href="https://www.koliseo.com/events/commit-2019/r4p/5106829466009600/agenda" class="button primary" target="_blank" >{{i18n "GoToTheAgenda"}}</a>
  </div>
</section>
