<footer class="hide-for-print">
  <div class="footer-row">
    <div class="content">
      <dl class="footer-column">
        <dt class="footer-column-title">{{i18n "Contact"}}</dt>
        <dd>
          <a class="footer-link" href="mailto:info@commit-conf.com"
            >E-mail</a
          >
        </dd>
        <dd>
          <a class="footer-link" href="https://www.twitter.com/commitconf"
            >Twitter</a
          >
        </dd>
        <dd>
          <a class="footer-link" href="https://www.youtube.com/channel/UCd_1KHg4t2VKGsSDF8OD5Cw" target="_blank">Youtube</a>
        </dd>
      </dl>
      <dl class="footer-column">
        <dt class="footer-column-title">{{i18n "Links"}}</dt>
        {{ range $.Site.Data.menu.items }}
        <dd>
          <a class="footer-link" href="{{.url | safeURL | relLangURL }}">{{i18n .name }}</a>
        </dd>
        {{ end }}
        <dd>
          <a class="footer-link" href="https://2018.commit-conf.com/">{{i18n "PastEdition"}}</a>
        </dd>
      </dl>
      <dl class="footer-column">
        <dt class="footer-column-title">{{ i18n "AboutUs" }}</dt>
        <dd>
            <a class="footer-link icon-globe" href="{{"/cookies" | relLangURL}}">{{i18n "PrivacyPolicyTitle"}}</a>
          </dd>
        <dd>
          <a class="footer-link icon-globe" href="{{"/code-of-conduct" | relLangURL}}"
            >{{i18n "CodeOfConduct"}}</a
          >
        </dd>
        <dd>
          <a class="footer-link" href="{{"/terms-and-conditions" | relLangURL}}"
            >{{i18n "TermsAndConditions"}}</a
          >
        </dd>
        <dd><a class="footer-link" href="{{"/team" | relLangURL}}">{{ i18n "TheTeam" }}</a></dd>
      </dl>
    </div>
  </div>
  <div class="footer-row theme-2">
    <div class="content aligned">
      <div class="footer-column logo-container">
        <a href="{{"/" | relLangURL}}" class="logo-footer"></a>
      </div>
      <div class="footer-column extrema-container">
        <a class="footer-link">Crafted by</a> &middot;
        <a href="http://www.extrema-sistemas.com" class="extrema"></a>
      </div>
    </div>
  </div>
</footer>
