<div itemscope itemtype="http://schema.org/Event">
  <div class="hero">
    <meta itemprop="url" content="https://www.koliseo.com/events/commit-2019" />
    <meta itemprop="image" content="https://2019.commit-conf.com/img/bg.jpg" />
    <div class="hero-text">
      <h1 class="hero-title content" itemprop="name">
        Commit <span class="hero-highlight">Conf</span>
      </h1>
      <meta itemprop="startDate" content="2019-11-22" />
      <span class="hero-body content">Madrid, 22-23 Nov</span>
      <div class="content numbers">
        <div class="number-and-text">
          <div class="number">150</div>
          <div class="text">{{i18n "TalksAndLabs"}}</div>
        </div>
        <div class="number-and-text">
          <div class="number">45</div>
          <div class="text">{{i18n "Communities"}}</div>
        </div>
        <div class="number-and-text">
          <div class="number">2000</div>
          <div class="text">{{i18n "Attendees"}}</div>
        </div>
      </div>
    </div>
    <img class="svg-hr" src="/img/svg-hr.svg" />
  </div>
  <div class="home-highlight">
    <section class="content">
      <h1>{{ i18n "TheEvent" }}</h1>
      <div itemprop="description">
        {{i18n "EventDesc" | safeHTML }}
      </div>
      <p class="actions">
        <a
          class="button primary"
          href="https://www.koliseo.com/events/commit-2019/r4p/5106829466009600/agenda"
          target="_blank"
        >
          {{i18n "TheAgenda"}}
          <span class="button-small">{{i18n "AgendaIsPublished"}}</span>
        </a>
        <a class="button" href="https://www.koliseo.com/events/commit-2019">
          {{i18n "GetYourTicket"}}
          <span class="button-small">{{i18n "TicketsAvailableNow"}}</span>
        </a>
        <a class="button" href="{{ "/call-for-volunteers" | relLangURL }}">
          Call for Volunteers
          <span class="button-small">{{ i18n "CallForVolunteersWillOpenSoon" }}</span>
        </a>
      </p>
    </section>
  </div>

  {{ partial "agenda.html" . }}

  <hr />

  {{ partial "techshessions.html" . }}

  {{ partial "communities.html" . }}

  <img src="/img/communities-hr.svg" alt="{{i18n "OurCommunities"}}"
  class="img-hr communities-hr" />

  {{ partial "location.html" . }}

  <hr/>

  {{ partial "mail-list.html" . }}
</div>
