<img
  src="/img/checkpoint.jpg"
  alt="{{i18n "SubmitYourTalk"}}"
  class="img-hr"
/>
<section class="content c4p">
  <img
    class="agenda-img"
    src="/img/agenda.jpg"
    alt="{{i18n "SubmitYourTalk"}}"
  />
  <div>
    <h2>{{ i18n "CallForPapersIsOpen" }}</h2>
    <p>
      {{i18n "BecomeASpeaker"}}
    </p>
    <div class="actions">
      <a
        href="https://www.koliseo.com/events/commit-2019/r4p/5106829466009600"
        class="button primary"
        >{{i18n "SubmitYourTalk"}}</a
      >
    </div>
  </div>
</section>
