{{ range $category := $.Site.Data.sponsors }}
  <div class="sponsor-category">
    <span class="sponsor-category-name">{{ $category.name }}</span>
    <div class="category-sponsors {{ $category.name | replaceRE "\\s" "-" | lower }}">
      {{ range $category.items }}
      <a href="{{.href }}" alt="{{.name}}" title="{{.name}}" class="sponsor" target="_blank" rel="noopner noreferrer">
        <img src="/img/sponsors/{{.logo}}" class="sponsor-img {{.name | replaceRE "\\s" "-" | lower}}">
      </a>
      {{ end }}
    </div>
  </div>
{{ end }}