@media #{$small-up} {
}

@media #{$medium-up} {
  .topbar-links {
    display: block;
  }
  .topbar-dropdown-menu {
    display: none;
  }
  .topbar-link {
    font-size: 80%;
    padding-left: .4rem;
    padding-right: .4rem;
  }

  // block of text with image aside
  .main-and-aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > .main {
      flex-grow: 1;
      padding-right: 1rem;
    }
  }

  .attendees {
    width: 250px;
    min-width: 250px;
  }
  .location-description > .content {
    display: flex;
    align-items: center;
  }
  .ceu-logo-a {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .form-inline > input[type="email"] {
    width: 400px;
  }

  .footer-row > .content.aligned {
    flex-direction: row;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

@media only screen and (min-width:780px) {
  .topbar-link {
    font-size: 100%;
  }
}

@media only screen and (min-width:840px) {
  .topbar-link {
    padding-left: .6rem;
    padding-right: .6rem;
  }
}

@media #{$large-up} {

  // two columns of text with same weight
  .two-columns {
    column-count: 2;
    column-gap: 3rem;
  }

}

// big desktop
@media #{$xlarge-up} {
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }
}
