$topbar-bg: rgba(0, 0, 0, 0.9);
$topbar-color: $white;
$topbar-dropdown-bg: $black;
$topbar-dropgown-bg-hover: lighten($topbar-dropdown-bg, 15%);

.topbar {
  background-color: $topbar-bg;
  color: $topbar-color;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.topbar > .content {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  .popup-menu-contents {
    top: 70px;
    right: 10px;
  }
}
$logo-margin: 0.8rem .6rem;
.topbar-logo {
  float: left;
  display: block;
  margin: $logo-margin;
  margin-left: 0;
}
.topbar-separator {
  flex-grow: 1;
}
.topbar-link {
  padding: $logo-margin;
  color: $topbar-color;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $topbar-color;
  }
}
.topbar-logo-img {
  height: 35px;
  width: 160px;
  display: block;
}
.topbar-links {
  display: none;
}
.topbar-hamburger {
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  text-align: right;
  display: inline-block;
}
.topbar-hamburguer-icon {
  fill: $topbar-color;
}
.topbar-dropdown {
  display: none;
  position: absolute;
  right: 0;
  border: 1px solid $topbar-dropdown-bg;
  border-radius: 3px;
  background: $topbar-dropdown-bg;
  z-index: 89;
  .topbar-link {
    display: block;
    padding: 10px 20px;
    &:hover {
      background: $topbar-dropgown-bg-hover;
    }
  }
  &::before {
    right: 0.8rem;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent $topbar-dropdown-bg transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    z-index: 89;
  }
}
.topbar-dropdown-menu {
  position: relative;
  &:hover,
  &:focus {
    .topbar-dropdown {
      display: block;
    }
  }
}
