// text wrapping
.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

// svg sections separators
.separator {
  width: 100%;
  height: 50px;
  fill: $orange;
  &.theme-2 {
    fill: $green;
  }
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

// text alignment
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }

.flip {
  transform: rotate(180deg);
}
