// Typography
$sansFontFamily: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontFamily: Consolas, Monaco, "Liberation Mono", Courier, monospace;
$lightFontFamily: Roboto Light, Futura, Georgia, helvetica, arial, sans-serif;
$heavyFontFamily: Montserrat, Futura, Georgia, helvetica, arial, sans-serif;
$baseFontSize: 19px;

// margins
$paragraph-margin-bottom: 1rem;
$section-vertical-margin: 1.8rem;
$hr-margin: 2.3rem;


// Colors

// basic colors
$black: #333;
$gray-dark: #252a29;
$gray: #888;
$gray-light: #ccc;
$gray-lighter: #eee;
$white: #fff;
$red: #a9150a;
$purple-dark: #8700cc;
$blue: #008cba;
$blue-dark: #193c48;
$orange: #f49e0c;
$green: #278a71;
$pink: #cc0076;

// semantic colors
$linkColor: #08c;
$linkColorHover: darken($linkColor, 15%);
$title-color: #064065;
$border-color: #eee;
$body-background: #fafafa;

// screen sizes
//$landscape: "only screen and (orientation: landscape)" !default;
//$portrait: "only screen and (orientation: portrait)" !default;
$small-up: "only screen and (min-width:450px)" !default;
$medium-up: "only screen and (min-width:640px)" !default;
$large-up: "only screen and (min-width:980px)" !default;
$xlarge-up: "only screen and (min-width: 1200px)" !default;
$xxlarge-up: "only screen and (min-width: 1440px)" !default;
